.button{
    font-size: 20px;
    display: inline-block;
}

.Card-Img {
    width: 20em;
    height: 10em;
    display: inline-block;
    margin: auto;
}

.UserAuth-logo {
    width: 20em;
    height: 10em;
    display: block;
    margin: auto;
}